@import url(global.css);

.header {
    background-color: var(--secondary-color);
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    outline: 1px solid gray;
    border-radius: 10px;
    margin: 0.75rem 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem 0.938rem;
 
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-logo-textos {
    line-height: 0.7;
}

.header-logo-texto {
    color: #FFFFFF;
}

.header-logo-texto-destaque {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
}

.header-navegacao {
    display: flex;
    gap: 1.875rem;
}

.header-navegacao a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 0.938rem;
    font-weight: 600;
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navegacao a:hover {
    color: #FFFFFF;
    transform: translateY(-1px);
}

.header-button {
    background-color: var(--primary-color);
    cursor: pointer;
    padding: 0.75rem 1rem;
    text-align: center;
    border-radius: 0.313rem;
    transition:  transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), 
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

.header-button:hover {
    transform: scale(1.04) translateY(-1px);
}

.header-button a {
    text-decoration: none;
    font-size: 0.938rem;
    font-weight: 600;
    color: black;

}


.hero {

}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    outline: 2px solid white;
}
.hero-left-texto {
    color: white;
    font-size: 3.875rem;
}

.hero-left-texto span {
    color: var(--primary-color);
    font-size: 3.813rem;
}

.hero-right {
    outline: 2px solid white;
}